doctype html
html(lang='en' ng-controller='MasterCtrl' ng-csp)
  head
    meta(charset='utf-8')
    title {{'options_title' | tr}}
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet' href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='lib/spectrum/spectrum.css')
    link(rel='stylesheet' href='lib/ladda/ladda-themeless.min.css')
    link(rel='stylesheet' href='lib/shepherd.js/shepherd-theme-arrows.css')
    link(rel='stylesheet' href='css/options.css')
    link(rel='icon' href='img/icons/omega-logo-source.webp')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    style.om-style
      {{customCss}}
  body(style='display: none;' ng-style='{display: options ? "block" : "none"}')
    .app-container
      // Top Bar
      .top-bar
        button.hamburger(ng-click='toggleSidebar()' title='Toggle sidebar')
          span.material-icons menu
        img.top-logo(src='img/icons/omega-logo-source.webp' alt='NekoOmega')
        span.top-title NekoOmega

      .app-body
        // Sidebar
        header.side-nav(ng-class='{collapsed: sidebarCollapsed}')
          h1
            a(ui-sref='about' title='{{"about_title" | tr}}') NekoOmega
            sup.om-experimental.text-danger(ng-show='isExperimental')
              | {{'options_experimental_badge' | tr}}
          nav.nav.nav-pills.nav-stacked
            li.nav-header {{'options_navHeader_setting' | tr}}
            li(ui-sref-active='active'): a(ui-sref='ui')
              span.material-icons tune
              | {{'options_tab_ui' | tr}}
            li(ui-sref-active='active'): a(ui-sref='general')
              span.material-icons settings
              | {{'options_tab_general' | tr}}
            li(ui-sref-active='active'): a(ui-sref='io')
              span.material-icons save_alt
              | {{'options_tab_importExport' | tr}}
            li(ui-sref-active='active'): a(ui-sref='theme')
              span.material-icons palette
              | {{'options_theme' | tr}}
            li.divider
            li.nav-header {{'options_navHeader_profiles' | tr}}
            li(ui-sref-active='active'): a(ui-sref='builtin')
              span.material-icons public
              | {{'options_builtin' | tr}}
            li.nav-profile(ng-repeat='profile in options | profiles:"sorted"' ui-sref-active='active'
              data-profile-type="{{profile.profileType}}")
              a(ui-sref='profile({name: profile.name})')
                span(omega-profile-inline='profile' options='options')
            li.nav-new-profile
              a(role='button' ng-click='newProfile()')
                span.material-icons add
                span {{'options_newProfile' | tr}}
            li.divider
            li.nav-header {{'options_navHeader_actions' | tr}}
            li
              a.btn-default.btn.align-initial(role='button' ng-click='applyOptions()'
                  ng-class='{"btn-success": optionsDirty}')
                span.material-icons check_circle
                | {{'options_apply' | tr}}
            li(ng-class='{disabled: !optionsDirty}')
              a.text-danger(role='button' ng-click='revertOptions()')
                span.material-icons cancel
                | {{'options_discard' | tr}}
        main.main-content(ng-class="{'sidebar-collapsed': sidebarCollapsed}" ui-view)

    //- Alert overlay
    .alert-top-wrapper(ng-show='alertShown')
      div(alert type='workaround' close='hideAlert()'
          class='{{alertClassForType(alert.type)}}')
        span.material-icons {{alertIcons[alert.type]}}
        = ' '
        | {{alert.i18n ? (alert.i18n | tr) : alert.message}}
    script(src='lib/zero-dependencies/moment/moment-with-locales.js')
    script(src='lib/zero-dependencies/idb-keyval/idb-keyval.js')
    script(src='lib/zero-dependencies/jszip/jszip.min.js')
    script(src='js/omega_debug.js')
    script(src='js/log_error.js')
    script(src='lib/script.js/script.min.js')
    script(src='js/options.js')
